#conteudo {

    height: calc(100% - 70px);
    width: 100%;
    background-color: rgb(91, 70, 70);
    display: flex;

}

body {

    height: 100vh;
    width: 100vw;
}

#barra-lateral {

    height: 100%;
    width: 250px;
    background-color: aqua;
}

p{
    font-size: 2em;
}


#feed {

    height: 100%;
    width: calc(100% - 250px);
    background-color: rgb(144, 63, 219);
    display: flex;

}



#menu-superior {

    width: 100%;
    height: 70px;
    background-color: beige;

}


@media( min-width: 700px){

    #barra-lateral{ width: 30%;}

    #feed{ width: 70%;}
}


@media(min-width:1000px){

    #barra-lateral{ width: 350px; }

    #feed{ width: calc(100% - 350px);}
}

#titulo{
    background-color: brown;
}