#conteudo {

    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    /* background-color: aquamarine; */

}


.numeroseguidores {

    font-weight: bold;
    font-size: x-large;

}

.numeroseguindo {


    font-weight: bold;
    font-size: x-large;

}

#topo {

    width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    /* background-color: rgb(18, 102, 60); */
}

#fototransparente {

    opacity: 0.1;
    display: flex;
    width: 1320px;
    height: 300px;
    object-fit: cover;
    margin-bottom: -300px;

}

#nomeprincipal {

    width: 600px;
    height: 300px;
    padding: 22px 70px;
    line-height: 1;
    font-size: 18px;
    margin-left: 20%;




    h2 {
        font-family: 'Times New Roman', Times, serif;

    }

}


#fotodotopo {

    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;

    img {

        border-radius: 50%;
        object-fit: cover;
    }

}




#ladoesquerdo {

    width: 250px;
    height: 900px;
    display: flex;
    /* background-color: rgb(50, 152, 104); */
    overflow: scroll;
    overflow-x: hidden;
    


    img {

        height: 120px;
        width: 140px;
        border-radius: 10%;
        margin: -8px;
        margin-left: 30px;
        margin-top: -5%;
        object-fit: cover;
        
        

    }






    .textoesquerdo {

        white-space: nowrap;
        text-align: center;
        font-size: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 200px;
        font-weight: bold;


    }



}

.destaques {

    margin-top: 35px;
    margin-left: 25px;

}



#ladodireito {

    width: 1200px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-top: -900px;
    margin-left: 250px;
    /* background-color: rgb(89, 119, 14); */

    img {

        height: 237px;
        width: 237px;
        object-fit: cover;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 10%;

    }