#conteudo {

    width: 900px;
    height: 900px;
    background-color: rgb(132, 0, 255);
    margin: 0 auto;



}

#cabecalho {

    width: 900px;
    height: 300px;
    background-color: rgb(226, 62, 84);
    display: flex;


}

#destaques {

    width: 900px;
    height: 200px;
    background-color: rgb(115, 218, 249);
    display: flex;

}

#feed {

    width: 900px;
    height: 800px;
    background-color: bisque;
}


#fotodeperfil {

    width: 300px;
    height: 300px;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;

    img {

    border-radius: 50%;

}


}


#textodeperfil {

    width: 600px;
    height: 300px;
    background-color: aquamarine;
    padding: 0px 70px;
    box-sizing: border-box;


}




#nomeprincipal {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#seguidores {

    margin-right: 50px;


}


.juntinhos {
    margin: 0;
}

.quasejuntinhos {

    margin-bottom: 0;
}


#pill {

    background-color: rgb(216, 226, 17);
    border-radius: 15px;
    padding: 5px;


    img {
        position: relative;
        top: 3px;
    }

}

#paidapill {
    margin: 10px 0;
}

#imagem-link {

    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    background-image: url('imagem link.png');
}


a {
    text-decoration: none;
}


.destaque {

    height: 200px;
    width: 150px;
    background-color:rgb(149, 149, 245);
    padding: 33px 25px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;



    img {

        height: 100px;
        width: 100px;
        border-radius: 50%;
       
    }
}


#feed{

    display: flex;
    flex-wrap: wrap;
    
}



